a=input("enter the vallue--")
a

# Whatever you have seen or learned today's class write it iin the jupyter notebook

In [2]:
a=10
b=eval(input())
b

65

65

In [3]:
eval(10)

TypeError: eval() arg 1 must be a string, bytes or code object

In [4]:
eval('10')

10

In [5]:
eval("10*2/4")

5.0

In [6]:
eval('[2,34,4]')

[2, 34, 4]

In [7]:
a=input()
if a=='abcde':
    print("Right")
    print('done')
else:
    print("wrong")

wrong

In [8]:
num=int(input("Enter the marks"))
print(num)
grade=''
if num>=90:
    grade='A'
elif num>=80:
    grade="B"
elif num>=70:
    grade='C'
elif num>=60:
    grade="D"
else:
    garde="E"
    
    
print(f"marks is {num} and garde is {grade}")

Enter the marks95
95
marks is 95 and garde is A

In [9]:
range(10)

range(0, 10)

In [10]:
print(type(range(10)))

<class 'range'>

In [11]:
type(range(0))

range

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
list(range(5,-22,-2))

[5, 3, 1, -1, -3, -5, -7, -9, -11, -13, -15, -17, -19, -21]

In [15]:
l=[2,3,4,5,6,7,8,9,10]
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [16]:
for i in range(9):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,

In [18]:
n=int(input())
sum1=0
for i in range(0,n):
    #n1=n(n+1)//2
    sum1=sum1+i
    print(i,'-->',sum1)
print("Sum of ",n,"natural number is",sum1)

10
0 --> 0
1 --> 1
2 --> 3
3 --> 6
4 --> 10
5 --> 15
6 --> 21
7 --> 28
8 --> 36
9 --> 45
Sum of  10 natural number is 45

In [ ]:
pass1=input("Enter your  password--")
while True:
    if pass1=='xyz146':
        break
print("Wrong Password")
print(input("Enter password again--"))

In [ ]:
1+2