In [1]:
l=[]
type(l)

list

In [2]:
l1=list()
type(l1)

list

In [3]:
l1=list("Tulsi")
print(l1)

['T', 'u', 'l', 's', 'i']

In [4]:
L=list("24")
L

['2', '4']

In [5]:
t=(1,2,3,6,"hi",3+5j)
t

(1, 2, 3, 6, 'hi', (3+5j))

In [6]:
type(t)

tuple

In [7]:
t

(1, 2, 3, 6, 'hi', (3+5j))

In [8]:
t[1:]

(2, 3, 6, 'hi', (3+5j))

In [9]:
t

(1, 2, 3, 6, 'hi', (3+5j))

In [10]:
t.count(2)

1

In [11]:
t=(2,3,45,4,6,4,"hi",4.56,4+5j)

In [12]:
t

(2, 3, 45, 4, 6, 4, 'hi', 4.56, (4+5j))

In [13]:
t.count(4)

2

In [14]:
t.index(4)

3

In [15]:
a,b,c=5,6,7

In [16]:
b

6

In [17]:
c

7

In [18]:
a

5

In [19]:
t=((2,3,4),(3,4,5,6))

In [20]:
t

((2, 3, 4), (3, 4, 5, 6))

In [21]:
t

((2, 3, 4), (3, 4, 5, 6))

In [22]:
t+t

((2, 3, 4), (3, 4, 5, 6), (2, 3, 4), (3, 4, 5, 6))

In [23]:
t[0][2]

4

In [24]:
t=([2,43,4,6],[3,4,56,4])
t

([2, 43, 4, 6], [3, 4, 56, 4])

In [25]:
c=(2,3,4,5,6)
l=list(c)

In [26]:
l

[2, 3, 4, 5, 6]

In [27]:
l[2]="Tulsi"
l

[2, 3, 'Tulsi', 5, 6]

In [28]:
tuple(l)

(2, 3, 'Tulsi', 5, 6)

In [29]:
s={}
type(s)

dict

In [30]:
s={2,3}
type(s)

set

In [31]:
s={3,4,5,6,7,5,7,6,5,4,2,3,5,7,"hi","hi","Tulsi"}

In [32]:
s

{2, 3, 4, 5, 6, 7, 'Tulsi', 'hi'}

In [33]:
x=set()

In [34]:
x

set()

In [35]:
x=set(s)
x

{2, 3, 4, 5, 6, 7, 'Tulsi', 'hi'}

In [36]:
for i in x:
    print(i)

2
3
4
5
6
7
hi
Tulsi

In [37]:
x[0]

TypeError: 'set' object is not subscriptable

In [ ]:
x={3,4,5,6,8,2}

In [ ]:
x

In [ ]:
x.add(7)

In [ ]:
x

In [ ]:
l

In [ ]:
l=set(l)
l

In [ ]:
{34,56,432,321,21,23,456}

In [ ]:
s={2,366,342,231,34241,4534,5,52153,342432,4543,"tulsi","abc","hi"}

In [ ]:
s

In [ ]:
t=(3,4,5,6,"hi",3+5j)
t[2:]

In [ ]:
d={"key":"Tulsi"}
d

In [ ]:

d={}
type(d)

In [ ]:
d['key']

In [ ]:
d={'key':"Hi","key1":"Hello","key2":"Tulsi",0:"jii",'key':[2,3,4,5,"Hi"]}
d

In [ ]:
d[0]

In [ ]:
d['key']

In [ ]:
d1={"a":23,"b":345,"c":342,"d":{0:"tulsi",1:"jha"}}

In [ ]:
d1

In [ ]:
d1["d"]

In [ ]:
d1['d'][1]

In [ ]:
for i in d1:
    print(i  ,d1[i])

In [ ]:
{x:x**2 for x in range(10)}

In [ ]:
{x**3 for x in range(10)}

In [ ]:
{x:x**2 for x in range(10) if x%2==0}

In [ ]:
def test():
    pass
test()

In [ ]:
def test():
    print("This is my first function")
test()

In [ ]:
type(test())

In [ ]:
def test1():
    #return 3+4j
    return "This is my first function with return"
    #return 4
    #return True
test1()

In [ ]:
type(test1())

In [ ]:
def test2():
    return 3+5j,4,34,542,34

In [ ]:
b,c,d,e,f=test2()
c

In [ ]:
b,_,_,d,e=test2()
d

In [ ]:
def test3(a,b):
    c=a+b
    return "The sum of two number is",c
test3(4,5)

In [ ]:
def test4(a,b=1):
    return a+b

In [ ]:
test4(10)

In [ ]:
def test5(a,b,c,d,e=10):
    return "The multipoplication of two numbers are:-",d*e

In [ ]:
test5(20)

In [ ]:

def modifylist(a):
    l=[]
    if type(a)==list:
        for i in a:
            l.append(i+4)
        return l

In [ ]:
modifylist([2,3,4,5,6])

In [ ]:
#A Greeting function
def greeting(name):
    print("Hello %d" %name)

In [ ]:
greeting(10)

In [ ]:
#Check prime number or not

def is_prime(num):
    for i in range(2,num):
        if num%i==0:
            print("Not prime number")
            break
    else:
        print("Prime number")

In [ ]:
is_prime(17)

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [ ]:
gencube(5)

In [ ]:
def gencube(n):
    for num in range(n):
        yield num**2

In [ ]:
gencube(5)

In [ ]:
list(gencube(8))

In [ ]:
b=gencube(8)
b

In [ ]:
next(b)

In [ ]:
#Fabonacci series

def genfabon(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [ ]:
for num in genfabon(10):
    print(num)

In [ ]:
def fab(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [ ]:
list(fab(10))

In [ ]:
n=5
def fab(n):
    pass

In [ ]:
a=int(input("Enter any number"))
b=int(input("Enter any number"))
summ=a+b
print("Sum of ",a,"and",b,"is",summ)

In [ ]:
2+4

In [ ]:
def area(r,pi=3.14):
    a=pi*r*r
    print("area of given circle is ",a)

In [ ]:
area(4.55)

In [ ]:
#Swap two numbers with using third variable
a=34
b=43
print("Before swapping these numbers then a=",a,"b=",b)
t=a
a=b
b=t
print("After swapping these numbers then a=",a,"b=",b)

In [ ]:
#swapping without using third variable
a=3
b=4
print("Before swapping","a=",a,"b=",b)
a=a+b
b=a-b
a=a-b
print("After swapping","a=",a,"b=",b)

In [ ]:
# Check Even number with using modulus operator
n=int(input("Enter any number"))
if n%2==0:
    print("Given number",n,"is even an number")
else:
    print("Given number",n,"is not an even number")

In [ ]:
#Withpout using moduls operator
n=int(input("Enter any number"))
if (n & 1):
    print("ODD NUMBER")
else:
    print("EVEN NUMBER")

In [ ]:
#Check whether a given number is divisible by 5 or not

n=int(input("Enter any number"))
def div(n):
    if n%5==0:
        print("Yes",n,"is divisible by 5")
    else:
        print("NO",n,"is not divisible by 5")
div(n)

In [ ]:
#Greater in between two numbers
a=int(input("Enter an integer value"))
b=int(input("Enter an integer value"))
if a>b:
    print(a,"is greater in between",a,"and",b)
else:
    print(b,"is greater in between",a,"and",b)

In [ ]:
while True:
    i=1
    if i%3==0:
        break
        print(i)
        i+=1

In [1]:
print("Hi")

Hi

In [3]:
lst=[1,2,3,4,5,6,8]
list(filter(lambda x:x%2!=0,lst))

[1, 3, 5]

In [32]:
class class1:
    def __init__(self,a1,a2,a3):
        self.a1=a1
        self.a2=a2
        self.a3=a3
    def m1(s1):
        return self.a1+" "+self.a2+" "+self.a3
class class2:
    def __init__(self,b1,b2,b3):
        self.b1=b1
        self.b2=b2
        self.b3=b3
    def m2(self):
        return self.b1+" "+self.b2+" "+self.b3
class class3:
    def __init__(self,c1,c2,c3):
        self.c1=c1
        self.c2=c2
        self.c3=c3
    def m3(self):
        return self.c1+" "+self.c2+" "+self.c3
class class4:
    def __init__(self,d1,d2,d3):
        self.d1=d1
        self.d2=d2
        self.d3=d3
    def m4(self):
        pass

In [33]:
a=class1(1,2,3)
b=class2(4,5,6)
c=class3(7,8,9)
d=class4(a,b,c)
print(d)

<__main__.class4 object at 0x00000177771CB488>

In [11]:
class class1:
    def __init__(self,_name):
        self._name=_name
    def show(self):
        print("This is the show funcytion for class1")
class class2(class1):
    pass

obj=class2("fehjdskhe")
obj.show()
   # def __init__(self):
    #    return "HI"

This is the show funcytion for class1

In [10]:
obj=class2("fehjdskhe")
obj.show()

This is the show funcytion for class1

In [12]:
class class1:
    def __init__(self,__name):
        self.__name=__name
    #def show(self):
     #   print("This is the show function for class1")
class class2(class1):
    def __init__(self,a):
        self.a=a
        class1.__init__()

obj=class2("fehjdskhe")
obj.show()

This is the show function for class1

In [23]:
class c1:
    def __init__(self,a,b,c):
        self.a=a
        self._b=b
        self.__c=c
    def __str__(self):
        return str(self.a)+str(self._b)+str(self._c1__c)
#class c2(c1):
 #   pass
o=c1(1,2,3)
print(o)

123

In [25]:
class c2:
    def __init__(self,a):
        self.a=a
    def __str__(self):
        return str(self.a)
o1=c2(o)
print(o1)

123

In [26]:
class c1:
    def __init__(self,a):
        self.a=a
    def __show(self):
        return "HI"
o=c1(34)
o._c1__show()

'HI'

In [30]:
def summ(a,b):
    return a+b
print(summ(2,3))
print(summ(['a','r','t','e','w'],['e','y','q','t5']))
print(summ('rvgjnrgkvdkf',' jgfvejksfgv'))

5
['a', 'r', 't', 'e', 'w', 'e', 'y', 'q', 't5']
rvgjnrgkvdkf jgfvejksfgv

In [31]:
%%writefile test.txt
Hello,"this is the quick test of fbvhdcvjeudsjkcjfedsk\n"

Writing test.txt