In [7]:
i=10
if (i<5) & (i==10):
    print("This condition is true")
elif i>8:
    print("This is valid for elif block")
else:
    print("This will give me a default statement")

This is valid for elif block

In [8]:
i=10
s="tusli"
if i==10:
    if type(s)==str:
        print("This is my name")
    else:
        print("This is default statement")
else:
    print("This is default statement for outer block")

This is my name

In [9]:
l=[1,2,3,4,"tulsi",True,6+3j]
l

[1, 2, 3, 4, 'tulsi', True, (6+3j)]

In [10]:
l[::2]

[1, 3, 'tulsi', (6+3j)]

In [12]:
for i in l:
    print(i)

1
2
3
4
tulsi
True
(6+3j)

In [16]:
m=[]
for i in l:
    m.append(i)

In [17]:
m

[1, 2, 3, 4, 'tulsi', True, (6+3j)]

In [21]:
m=[]
for i in l:
    if type(i)==int:
        m.append(i)

In [22]:
m

[1, 2, 3, 4]

In [26]:
m=0
for i in l:
    if type(i)==int:
        m=m+i
print(m)

10

In [28]:
l=[2,3,4,5,7]
for i in l:
    print(i)
else:
    print("This is the for else block")

2
3
4
5
7
This is the for else block

In [29]:
l[::-1]

[7, 5, 4, 3, 2]

In [30]:
l

[2, 3, 4, 5, 7]

In [37]:
for i in l:
    if i==5:
        break
    print(i)
else:
    print("This is the for else block")

2
3
4

In [38]:
s="Tulsi jha"
for i in s:
    if i=='j':
        continue
    print(i)

T
u
l
s
i

h
a

In [39]:
range(6)

range(0, 6)

In [40]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [42]:
list(range(4,9,2))

[4, 6, 8]

In [43]:
l=[2,3,45,6,'Tusli','xyz']
l

[2, 3, 45, 6, 'Tusli', 'xyz']

In [44]:
len(l)

6

In [45]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5

In [46]:
for i in range(len(l)):
    print(l[i])

2
3
45
6
Tusli
xyz

In [47]:
input()

23456

'23456'

a=input("Enter your name")
a

In [49]:
a=input("Enter your name")
type(a)

Enter your name456532

str

In [51]:
a=int(input("Enter your name"))
type(a)

Enter your name23454

int

In [54]:
"Tulsi " + "jha"

'Tulsi jha'

In [55]:
"Tulsi" + 9

TypeError: can only concatenate str (not "int") to str

In [56]:
"Tulsi" + str(9)

'Tulsi9'

In [64]:
"tulsi'\s"

"tulsi'\\s"

In [65]:
s="hello world"
s

'hello world'

In [66]:
s.upper()

'HELLO WORLD'

In [67]:
s.lower()

'hello world'

In [68]:
s="helo world tulsi jha"

In [69]:
s

'helo world tulsi jha'

In [70]:
s.split()

['helo', 'world', 'tulsi', 'jha']

In [72]:
s.upper()

'HELO WORLD TULSI JHA'

In [73]:
s.split('o')

['hel', ' w', 'rld tulsi jha']

In [74]:
"my name is {} and my age is {}".format("Tulsi",19)

'my name is Tulsi and my age is 19'

In [76]:
s="hello world"
s.find('l')

2

In [83]:
for i in s:
    if i=='l':
        l=i

In [84]:
print(l)

l

In [89]:
s="hello world"
l=[]
l1=[]
for i in range(len(s)):
    if s[i]=='l':
        l.append(s)
        l1.append(s[i])
print(l,l1)

['hello world', 'hello world', 'hello world'] ['l', 'l', 'l']

In [91]:
s.center(40,'t')

'tttttttttttttthello worldttttttttttttttt'

In [92]:
'hello\tworld'.expandtabs()

'hello   world'

In [93]:
s="Helloudhfj"
s

'hello'

In [94]:
s.isalpha()

True

In [97]:
s.isalnum()

True

In [98]:
s.isspace()

False

In [99]:
s.istitle()

False

In [100]:
"hello"*3

'hellohellohello'

In [104]:
"hii"

'hii'

In [105]:
l=[1,2,3,4,5,6,"tulsi"]
l

[1, 2, 3, 4, 5, 6, 'tulsi']

In [106]:
l.append('jha')

In [107]:
l

[1, 2, 3, 4, 5, 6, 'tulsi', 'jha']

In [108]:
l.insert(3,'hii')

In [109]:
l

[1, 2, 3, 'hii', 4, 5, 6, 'tulsi', 'jha']

In [111]:
l.pop()

'jha'

In [112]:
l

[1, 2, 3, 'hii', 4, 5, 6, 'tulsi']

In [113]:
l.pop()

'tulsi'

In [114]:
l

[1, 2, 3, 'hii', 4, 5, 6]

In [115]:
l.pop(2)

3

In [116]:
l

[1, 2, 'hii', 4, 5, 6]

In [117]:
l.pop

In [118]:
l=[1,5,9,8,2,3,4]
l

[1, 5, 9, 8, 2, 3, 4]

In [119]:
l.reverse()

In [120]:
l

[4, 3, 2, 8, 9, 5, 1]

In [121]:
l.sort()

In [122]:
l

[1, 2, 3, 4, 5, 8, 9]

In [123]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[6,5,7,8]

In [124]:
l=[l1,l2,l3]
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [133]:
l4=[]
for i in len(l):
    l4.append(i[2])

TypeError: 'int' object is not iterable

In [132]:
[i[2] for i in l]

[3, 7, 7]

In [134]:
l=[2,3,4,5,6]

In [135]:
l.append([5,6,7,8])

In [136]:
l

[2, 3, 4, 5, 6, [5, 6, 7, 8]]

In [137]:
l1=[2,3,4,5,6]

In [138]:
l1.extend([6,4,7,9])

In [139]:
l1

[2, 3, 4, 5, 6, 6, 4, 7, 9]

In [145]:
l=[5,3,4,5,6,7,8,5,6,7,8,2,4,3,2,2,2]
l1=[]
for 2 in l:
    if l[i]!='2':
        continue
    print(i)

In [146]:
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 2, 4, 3, 2, 2, 2]

In [147]:
for 2 in l:
    l.remove()

SyntaxError: can't assign to literal (<ipython-input-147-9f097ce2b4e4>, line 1)

In [148]:
i=0
while i<len(l):
    if l[i]== 2:
        l.remove(2)
        i-=1

    if type(l[i]) == list:
        j=0
        while j<len(l[i]):
            if l[i][j] == 2:
                l[i].remove(2)
                j-=1
            j=j+1
    i += 1
print(l)

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3]